@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Luxurious+Script&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Epilogue", system-ui, sans-serif;
  --font-serif: "Noto Serif", serif;
  --font-script: "Luxurious Script", cursive;
}